.story-container {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative; /* Đặt position là relative để các phần tử con có thể sử dụng position absolute */
  }
  
  .background-gif {
    opacity: 0;
    width: 100%;
    height: auto;
    animation: FadeIn 5s forwards;
  }
  
  .show {
    opacity: 1;
  }
  
  .Quest {
    position: absolute; /* Đặt position là absolute để đẩy lên trên cùng */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Ẩn ban đầu */
    transition: opacity 1s ease-in-out; /* Thêm transition cho opacity */
  }
  
  .story-container.show .Quest {
    opacity: 1; /* Hiển thị Quest với opacity 1 */
    z-index: 1; /* Đưa lên trên cùng */
  }
  
  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  